@(id: Long, uuid: String)
@widget(id, "This is the widget "+id+" in DISPLAY mode"){
	This is a widget DISPLAY content with uuid : @uuid.<br/>
	<a class="_maf_widget_widget_link" href="/hop/A">A link</a>
	<a class="_maf_widget_widget_link" href="/hop/B">Another link</a>
	<script type="text/javascript">
	bizdock_widget_addEventListener(@id, function(event){
		if(event.action=="LINK"){
			alert("Clicked "+event.url);
			bizdock_widget_displayErrorMessage(@id, "Nooo");
		}
		if(event.action=="EDIT"){
			alert("Edit is called");
			bizdock_widget_displaySuccessMessage(@id, "Yess");
		}
	});
	</script>
}
