@import framework_views.parts
@import helper._
@import bootstrap3._

@templates.main_bc_nosidebar(
    "Dashbaord",
    Seq(
        ("Dashboard",null)
    )
){
<script src="@routes.Assets.versioned("javascripts/interact.js")"></script>
<style>
.draggable{}
.widget_area{}
.widget{}
.drop-active{
	border-color: #aaa;
	border: dashed 4px;
	border-radius: 4px;
}
</style>
}{
<div class="row test">
	<div class="col-md-6">
		<div class="btn-group" data-toggle="buttons">
		  <label class="btn btn-primary active">
		    <input type="radio" name="options" id="option1" autocomplete="off" checked> Page A
		  </label>
		  <label class="btn btn-primary">
		    <input type="radio" name="options" id="option2" autocomplete="off"> Page B
		  </label>
		  <label class="btn btn-primary">
		    <input type="radio" name="options" id="option3" autocomplete="off"> Page C
		  </label>
		</div>
	</div>
	<div class="col-md-6">
		<p class="text-right"><a class="btn btn-primary" href="#"><i class="fa fa-cog"></i>&nbsp;Edit page</a></p>
	</div>
</div>
<div class="row">
  <div id="workspace" class="col-md-12">
  	<!-- Page wide widget -->
  	<div class="row">
  		<div id="widget1" class="col-md-12 widget_area">
  		</div>
  	</div>
    <!-- Two widgets -->
  	<div class="row">
  		<div id="widget2" class="col-md-6 widget_area">
  		</div>
  		<div id="widget3" class="col-md-6 widget_area">
  		</div>
  	</div>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	loadWidget($('#widget1'));
	loadWidget($('#widget2'));
	
	interact('.widget_area').dropzone({
		overlap: 0.75,
		ondropactivate: function (event) {
		    event.target.classList.add('drop-active');
		  },
		  ondragenter: function (event) {
		  },
		  ondragleave: function (event) {
		  },
		  ondrop: function (event) {
		  },
		  ondropdeactivate: function (event) {
		  }
	});
});

function loadWidget(snapingArea){
	snapingArea.html('<div>... Pending ...</div>');
	var jqxhr = $.get("/dash/widget", function(data) {
		snapingArea.html(data);
		interact('.draggable').draggable();
		}).fail(function() {
			snapingArea.html('<div>ERROR</div>');
		});
}

function getWidgetPanel(widgetTitle, widgetContent) {
	var widgetPanel = '<div class="panel panel-info">';
	widgetPanel = widgetPanel + '<div class="panel-heading">' + widgetTitle
			+ '</div>';
	widgetPanel = widgetPanel + '<div id="widget_2" class="panel-body ">';
	widgetPanel = widgetPanel + '</div>';
	widgetPanel = widgetPanel + '</div>';
	return widgetPanel;
}
</script>
}